<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <% include ../static/partials/messages.ejs %>
    <main class="container-fluid">
      <div class="row">

        <!-- MAIN START -->
        <div class="col-lg-9 col-md-12">
          <div class="row">
            <div class="col-12">
              <h1 class="display-1 text-center">Topics</h1>
              <p class="lead text-center">Click on any topic and join in on the discussion</p>
            </div>
          </div>

          <!-- SIDEBAR SMALL START -->
          <div class="col-12 d-md-block d-lg-none" style="margin-bottom:25px;">
            <% if(!currentUser) { %>
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title text-center">Welcome to Agora!</h5>
                      <h6 class="card-subtitle mb-2 text-muted text-center">An application for users to share information.</h6>
                      <p class="card-text text-center">Sign up now to join our community and get access to the web's largest forum for discussion on various topics.</p>
                      <% include ../static/partials/smallSignupTrigger.ejs %>
                      <% include ../static/partials/signinTrigger.ejs %>
                    </div>
                  </div>
                </div>
              </div>
            <% } else { %>
              <div class="row">
                <div class="col-12">
                  <div class="card text-center">
                    <div class="card-body">
                      <a class="btn btn-primary" href="/users/<%= currentUser.id %>">View my profile</a>
                      <a href="/topics/new" class="btn btn-success">New Topic</a>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>
          </div>
          <!-- SIDEBAR SMALL END -->

          <div class="row">
            <div class="col-12">
              <ul class="list-group">
                <p class="mb-2 text-muted"><%= topics.length %> Topics</small>
                <li class="list-group-item">
                  <span>Title</span>
                  <span class="float-right">Last Updated</span>
                </li>
                <% topics.forEach((topic) => { %>
                  <li class="list-group-item">
                    <a href="/topics/<%= topic.id %>"><%= topic.title %></a>
                    <span class="float-right">
                      <%= topic.updatedAt.toString().substring(4, 15) %>
                    </span>
                    <div><small><%= topic.posts.length %> Posts</small></div>
                  </li>
                <% }) %>
              </ul>
            </div>
          </div>
        </div>
        <!-- MAIN END -->

        <!-- SIDE BAR -->
        <div class="col-lg-3 d-none d-lg-block">
          <% if(!currentUser) { %>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title text-center">Welcome to Agora!</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-center">An application for users to share information.</h6>
                    <p class="card-text text-center">Sign up now to join our community and get access to the web's largest forum for discussion on various topics.</p>
                    <% include ../static/partials/mainSignupTrigger.ejs %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <% include ../static/partials/signinForm.ejs %>
              </div>
            </div>
          <% } else { %>
            <div class="row">
              <div class="col-12">
                <div class="card text-center">
                  <div class="card-body">
                      <a href="/topics/new" class="btn btn-success">New Topic</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <% include ../static/partials/userTabs.ejs %>
              </div>
            </div>
          <% } %>
        </div>
        <!-- SIDEBAR END -->

      </div>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
