<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

    <!-- Navigation  -->
    <% include ./partials/navbar.ejs %>
    <% include ../static/partials/messages.ejs %>
    <!--
    <div id="main-jumbotron" class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <% if(!currentUser) { %>
          <h1 class='display-3'>Welcome to Agora</h1>
          <p class='lead'>An application for users to share information.</p>
          <a href='/users/sign_up' class='btn btn-primary btn-lg'>Sign up</a>
        <% } else { %>
          <h1 class='display-3'>Welcome back <%= currentUser.email %>!</h1>
          <p class='lead'>Check out our topics and start giving your 2 cents!</p>
          <a href='/topics' class='btn btn-primary btn-lg'>View Topics</a>
        <% } %>
      </div>
    </div>

    <main class='container-fluid'>

      <section id="page-features" class='row text-center'>
        <section class='col-lg-4'>
          <i class="fas fa-pen fa-7x"></i>
          <h4 class='card-title'>Post</h4>
          <p class='card-text'>Share your thoughts about subjects that are important to you.</p>
          <p>
            <a class="btn btn-secondary" href="#" role="button">View details »</a>
          </p>
        </section>

        <section class='col-lg-4'>
          <i class="fas fa-comment fa-7x"></i>
          <h4 class='card-title'>Comment</h4>
          <p class='card-text'>Your opinon counts! But you have to make yourself heard first!</p>
          <p>
            <a class="btn btn-secondary" href="#" role="button">View details »</a>
          </p>
        </section>

        <section class='col-lg-4'>
          <i class="fas fa-graduation-cap fa-7x"></i>
          <h4 class='card-title'>Stay Informed</h4>
          <p class='card-text'>SEe the most active topics as well as trending subjects every day!</p>
          <p>
            <a class="btn btn-secondary" href="#" role="button">View details »</a>
          </p>
        </section>
      </section>
      -->

      <main class="container-fluid">
        <div class="row">
          <div class="col-9">
            <div class="list-group">
              <% posts.forEach((post) => { %>
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-.5">
                        <% include ../votes/voting.ejs %>
                      </div>
                      <div class="col-11">
                        <div class="d-flex w-100 justify-content-between">
                          <a href="topics/<%= post.Topic.id %>/posts/<%= post.id %>"><h3 class="mb-0"><%= post.title %></h3></a>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                          <span class="mb-2"><small>Submitted on <%= post.createdAt.toString().substring(4, 15) %> by <a href="/users/<%= post.User.id %>"><%= post.User.email %></a> to <a href="/topics/<%= post.Topic.id %>"><%= post.Topic.title %></a></small></span>
                        </div>
                        <div>
                          <p class="mb-2"><%= post.body %></p>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                          <span><small><%= post.comments.length %> Comments</small></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% }) %>
            </div>
          </div>
          <div class="col-3">
            <% if(!currentUser) { %>
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div id="signup-call-home" class="card-body">
                      <h5 class="card-title">Welcome to Agora!</h5>
                      <h6 class="card-subtitle mb-2 text-muted">An application for users to share information.</h6>
                      <p class="card-text">Sign up now to join our community and get access to the web's largest forum for discussion on various topics.</p>
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        Join Agora
                      </button>
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Sign up</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form id="signup-form" action="/users" method="POST">
                                <div class="form-group">
                                  <label for="email">Email</label>
                                  <input type="email" name="email" placeholder="you@example.com" class="form-control"/>
                                  <small class="text-muted" id="titleHelp">email must be valid.</small>
                                </div>
                                <div class="form-group">
                                  <label for="password">Password</label>
                                  <input type="password" name="password" placeholder="Create a password" class="form-control"/>
                                  <small class="text-muted" id="passwordHelp">password must be 6 or more characters in length.</small>
                                </div>
                                <div class="form-group">
                                  <label for="password_conf">Password Confirmation</label>
                                  <input type="password" name="password_conf" placeholder="Re-enter your password" class="form-control"/>
                                  <small class="text-muted" id="password_confHelp">enter the password again.</small>
                                </div>
                                <button type="submit" class="btn btn-success" style="width:100%">Sign up for Agora</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <a class="btn btn-primary" href="/topics">See all avaliable topics</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <form id="signin-form-home" action="/users/sign_in" method="post">
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" name="password" aria-describedby="passwordHelp" placeholder="Enter password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                  </form>
                </div>
              </div>
            <% } else { %>
              <div class="row">
                <div class="col-12">
                  <div id="logged-user-home-call" class="card text-center">
                    <div class="card-body">
                      <h5 class="card-title">Welcome back, <%= currentUser.email %>!</h5>
                      <a class="btn btn-primary" href="/topics/new">Start a new topic</a>
                      <a class="btn btn-primary" href="/topics">See all avaliable topics</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <ul class="nav nav-tabs" id="myTab" role="tablist" style="background-color: white;">
                    <li class="nav-item">
                      <a class="nav-link active" id="favorites-tab" data-toggle="tab" href="#favorites" role="tab" aria-controls="favorites" aria-selected="true">Favorites</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="false">Posts</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent" style="background-color:white;">
                    <div class="tab-pane fade show active" id="favorites" role="tabpanel" aria-labelledby="favorites-tab">
                      <ul class="list-group">
                        <% if(result.favoritePosts.length !== 0) { %>
                          <% result.favoritePosts.forEach((fav) => { %>
                              <li class="list-group-item">
                                <a href="/topics/<%= fav.post.topicId %>/posts/<%= fav.post.id %>">
                                  <%= fav.post.title %>
                                </a>
                              </li>
                          <% }) %>
                        <% } else { %>
                          <li class="list-group-item">
                            <p>Nothing here...</p>
                          </li>
                        <% } %>
                      </ul>
                    </div>
                    <div class="tab-pane fade" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                      <ul class="list-group">
                        <% if(result.posts.length !== 0) { %>
                          <% result.posts.forEach((post) => { %>
                              <li class="list-group-item">
                                <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>">
                                  <%= post.title %>
                                </a>
                              </li>
                          <% }) %>
                        <% } else { %>
                          <li class="list-group-item">
                            <p>Nothing here...</p>
                          </li>
                        <% } %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </main>

    <% include ./partials/baseScripts.ejs %>
  </body>
</html>
