<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>
        <% include ../static/partials/messages.ejs %>

        <main class="container">
            <div class="row">
                <div class="col-4">
                    <img src="<%= user.img %>" class="figure-img img-fluid rounded" alt="Profile Picture" style="height: 300px;">
                    <p class="lead"><%= user.email %></h1>
                    <p class="lead">Member Since: <%= user.createdAt.toString().substring(4, 15) %></p>
                </div>
                <div class="col-8">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="background-color:white;">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-favorite-tab" data-toggle="pill" href="#favorites" role="tab" aria-controls="pills-home" aria-selected="true">Favorites</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#posts" role="tab" aria-controls="pills-profile" aria-selected="false">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#comments" role="tab" aria-controls="pills-contact" aria-selected="false">Comments</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="favorites" role="tabpanel" aria-labelledby="pills-home-tab">
                            <ul class="list-group">
                                <% if(favoritePosts) { %>
                                    <% favoritePosts.forEach((fav) => { %>
                                        <li class="list-group-item">
                                            <a href="/topics/<%= fav.post.topicId %>/posts/<%= fav.post.id %>">
                                                <%= fav.post.title %>
                                            </a>
                                        </li>
                                    <% }) %>
                                <% } %>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="posts" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <ul class="list-group">
                                <% if(posts) { %>
                                    <% posts.forEach((post) => { %>
                                        <li class="list-group-item">
                                            <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>">
                                                <%= post.title %>
                                            </a>
                                        </li>
                                    <% }) %>
                                <% } %>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <ul class="list-group">
                                <% if(comments) { %>
                                    <% comments.forEach((comment) => { %>
                                        <li class="list-group-item">
                                            <span>Post: </span><a href="/topics/<%= comment.Post.topicId %>/posts/<%= comment.Post.id %>">
                                                <%= comment.Post.title %>
                                            </a>
                                            <p class="mt-2"><%= comment.body %></p>
                                        </li>
                                    <% }) %>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>